#nav-ul {
  margin: 50px 0;
  padding: 0;
  justify-content: space-between;
  list-style-type: none;
  li {
      margin-top: 100px;
      width: 200px;
    input {
      border: none;
      border-bottom: 2px solid black;
      width: 200px;
    }
    input:focus {
      outline: none;
    }
    button {
      padding: 0;
      background: none;
      width: 200px;
      border: 1px solid black;
      transition-delay: 5s;
      &:focus {
      outline: none;
      }
      &:hover {
        background: black;
        color: white;
      }
    }
  }
}


#results {
  display: none;
  height: 510px;
  border-left: 1px solid black;
  overflow: scroll;
}

.header h2{
  text-align: center;
  font-size: 60px;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 5px;
	   -webkit-border-image:
        -webkit-linear-gradient(left, rgba(245,241,222, 0.50) 1%,rgba(0,0,0,0.8) 50%,rgba(245,241,222, 0.50) 100%) 0 0 100% 0/0 0 3px 0;

}
